
:root {
    --light-grey: rgb(223, 223, 223);
    --pure-white: rgb(255, 255, 255);
    --pure-black: rgb(0, 0, 0);
}
body,

html {
    height: 100%;
    width: 100%;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body p {
    font-size: 15px;
    line-height: 25px;
}
body h1 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 4.17px;
    font-weight: bold;
}
body h2 {
    font-size: 24px;
    line-height: 25px;
    font-weight: bold;
}
body h3 {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
}
body h4 {
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
}
nav {
    height: 72px
}
.nav-link {
    color: black;
}
button {
    letter-spacing: 2px;
}
.white-arrow {  /* changing color of the black .svg arrow to white */
    filter: 
        invert(92%) 
        sepia(100%) 
        saturate(0%) 
        hue-rotate(202deg) 
        brightness(106%) 
        contrast(106%);
}
.main-cards{
    padding: 0 5rem;
}
.img-cards {
    height: 500px;
    border-radius: 0;
    align-items: start;
    padding: 0 3rem;
    color: white;
    position: relative; /* this is for allowing position absolute to work in the .card-text class */ 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}
.card-text {
    position: absolute;
    bottom: 2rem;
    left: 3rem;
}
hr {
    border: 1px solid #fff;
    z-index: 5;
    width: 100%;
}
.main-txt {
    padding: 4rem 10rem;
    min-height: 60vh;
}
.bottom-cards {
    width: 100%;
    height: 40vh;
}
.bottom-card {
    border-radius: 0; /* without this, there will still be radius marks at top of cards */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    padding: 1rem;
}

.bottom-card img{
    width: 75px;
    height: 75px;
    margin: 2rem auto;
}
.bottom-card-body {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
footer {
    height: 250px;
    letter-spacing: 2px;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}